.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 50%;
}
header {
  color: darkred;
  font-family: arial;
}
p {
  color: darkblue;
}
body {
  background-color: yellow;
}
